# Premiers exercices

# Let's go learning PYTHON

# La structure d'un projet python

In [18]:
import yfinance as yf
import pandas as pd 
import numpy as np

In [ ]:
ticker = "AAPL"

data = yf.download(ticker, start = "2020-01-01", progress = False)

data.head()  # 5 premières ligne 
data.tail()  # 5 dernière ligne

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2020-01-02   72.468277   72.528597   71.223274   71.476615  135480400
2020-01-03   71.763710   72.523738   71.539322   71.696152  146322800
2020-01-06   72.335556   72.374162   70.634539   70.885472  118387200
2020-01-07   71.995354   72.600960   71.775789   72.345204  108872000
2020-01-08   73.153496   73.455095   71.698581   71.698581  132079200
...                ...         ...         ...         ...        ...
2026-01-26  255.410004  256.559998  249.800003  251.479996   55969200
2026-01-27  258.269989  261.950012  258.209991  259.170013   49648300
2026-01-28  256.440002  258.859985  254.509995  257.649994   41288000
2026-01-29  258.279999  259.649994  254.410004  258.000000   67253000
2026-01-30  259.480011  261.899994  252.179993  255.169998   92352600

[1528 rows x 5 columns]